<section class="dark-grey-text text-center">
    <h1 class="font-weight-bold pt-5 pb-2 text-info text-center title" id="about">About</h1>
    <div class="row">
        <div class="col-md-4 col-sm-12 my-auto">

            <img src="image/nav/about.png" class="img-fluid mx-auto d-block" alt="gero gero image">

        </div>

        <div class="col-md-8 col-sm-12 p-2">

            <h5 class="font-weight-normal mb-3 text-center">ご挨拶</h5>

            <p>
                初めまして。静岡県でエンジニアとして働いているNobuと申します。<br>
                仕事ではこれまで.NET系を中心に使用してきました。<br>
                プライベートではNode.jsやSPAを中心としたJavascirptなどWeb系の技術を学んでいます。<br>
                本サイトではこれまで個人的に開発を行った品々を中心に紹介しようと思います。<br>
            </p>

            <ul class="list-unstyled mt-5 mb-0">
                <li>
                    <h5 class="font-weight-normal mb-3 text-center">Skills (Programming)</h5>
                    <p class="mb-4">C#(.NET, Silverlight, Blazor)<br />Javascirpt,Typescript (Node.js, Vue.js(Nuxt.js), Angular, React),<br/> Go, Ruby(Ruby on Rails) etc...</p>
                </li>
                <li>
                    <h5 class="font-weight-normal mb-3 text-center">Skills (Infrastructure)</h5>
                    <p class="mb-4">Windows Server, Hyper-V<br />AWS(EC-2, Lambda, etc), Firebase,<br />SQL(SQL Server, Postgres SQL) etc...</p>
                </li>
                <li>
                    <h5 class="font-weight-normal mb-3 text-center">Media</h5>
                    <p class="mb-1"><a href="https://qiita.com/nobu17">Qiita</a></p>
                    <p class="mb-1"><a href="https://twitter.com/nobu23">Twitter</a></p>
                    <p class="mb-1"><a href="http://nobunobu1717.site">Blog</a></p>
                </li>
            </ul>

        </div>

    </div>
</section>
@code {

}
