body {
    margin-top: 40px;
}

.title {
    font-size: 70px;
}

.blazored-modal {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.blazored-modal-container {
    /*Added for scrolling on mobile view*/
    overflow-y: auto;
}

@@media only screen and (max-width: 900px) {
    .blazored-modal-wrapper {
        width: 75%;
    }
}

@@media only screen and (min-width: 901px) {
    .blazored-modal-wrapper {
        width: 30%;
    }
}

.card-img-top {
    width: 100%;
    height: 37vh;
    object-fit: cover;
}

.port-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/*
    About
*/

.about-sub-title {
    background: linear-gradient(transparent 90%, #ffd800 90%);
}

.about-root {
    animation: fadeIn 1.5s ease 0s 1 normal;
    -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*
    work card animation
*/

.work-card {
    position: relative;
    bottom: -50px;
    opacity: 0;
    transition: bottom 1s, opacity 1s;
}

    .work-card.show {
        bottom: 0;
        opacity: 1;
    }

/*
    skill bar
*/

.skill {
    margin: 30px 0; /* 上下のマージンを指定 */
}

.skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1px;
}

.skill-bar-container {
    position: relative;
    width: 100%;
    height: 15px; /* スキルバーの高さ */
    background-color: #ddd; /* スキルバーの背景色 */
    overflow: hidden;
}

.skill-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* 初期状態では0 */
    background-color: #2196F3; /* スキルバーの色 */
    transition: width 2s cubic-bezier(0.22, 1, 0.36, 1); /* スキルバーが伸びる速度を調整 */
}


.skill-title {
    font-size: 24px;
    color: #000;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
}

    .skill-title:before {
        content: "";
        width: 100%;
        height: 3px;
        background: #ccc;
        position: absolute;
        bottom: 0;
    }

    .skill-title:after {
        content: "";
        width: 50%;
        height: 3px;
        background: red;
        display: block;
        position: absolute;
        bottom: 0;
    }
