@inherits LayoutComponentBase
@*<BlazoredModal Position="Blazored.Modal.ModalPosition.Center" />*@
<div class="container">
    <NavMenu />
    <div class="content px-2">
        @Body
    </div>
</div>